.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.header-box {
  background-image: url("https://i.imgur.com/trwhC5x.jpeg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #254117; 
  text-shadow: -2px -2px 0#ffffff,  
  2px -2px 0 #ffffff ,
 -2px 2px 0 #ffffff,
  2px 2px 0 #ffffff ; 
  padding: 40px;
  text-align: center;
  font-family: 'BellBottom.Laser', sans-serif;
  font-size: 35px;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #254117;
  padding: 10px;
  color: whitesmoke;
  margin-top: auto;
}

.divider {
  width: 100%;
  height: 35px;
  margin-top: 50px;
  
}


/* Found on https://getcssscan.com/css-buttons-examples, made modifications*/
.button-33 {
  background-color: #254117;
  border-radius: 100px;
  box-shadow: rgba(20, 88, 46, 0.368) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.1) rotate(-1.5deg);
}


.row {
  display:flex;
}
.col {
  flex: 50%;
  padding-left: 125px;
  padding-right: 125px;
  text-align: center;
}

.button-container {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
