@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

.App {
  text-align: center;
  padding-bottom:0;
}

.body {
  overflow-y: auto;
  overflow-x: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.header-box {
  background-image: url("https://i.imgur.com/trwhC5x.jpeg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  text-align: center;
  font-family: 'BellBottom.Laser', sans-serif;
  min-height: 10vh;
  margin-bottom: 0;

}

.home-button {
  font-size: 60px;
  background-color: transparent;
  border: 0;
  color: #254117; 
  text-shadow: -2px -2px 0#ffffff,  
  2px -2px 0 #ffffff ,
 -2px 2px 0 #ffffff,
  2px 2px 0 #ffffff ; 
  padding: 0px;

}


.nav-bar {
  padding: 0px;
  margin-top:0px;
  bottom: auto;
  margin-right: 2000px;
  font-family: 'Press Start 2P';
}



.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #254117;
  padding: 5px;
  color: whitesmoke;
  display: flex; 
  justify-content: center; 
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 10px;
  height: 6vh;
}


.footer form {
  display: flex;
  align-items: center;
  gap: 10px; 
  width: auto; 
}

.footer .form-control {
  max-width: 200px; 
}


.results {
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right:100px;
}


.title {
  font-size: 50px;
}

/* Found on https://getcssscan.com/css-buttons-examples, made modifications*/
.button-33 {
  background-color: #254117;
  border-radius: 100px;
  box-shadow: rgba(20, 88, 46, 0.368) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  
  font-family: 'Press Start 2P';
  padding: 7px 20px;
  text-align: center;
  transition: all 250ms;
  border: 0;
  font-size: 12px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.1) rotate(-1.5deg);
  background-color: #254117;
}



.button-33:focus {
  outline: none;
  background-color: #595f5c;
  box-shadow: rgba(0, 0, 0, 0.35) 0 -25px 18px -14px inset,rgba(29, 31, 30, 0.25) 0 1px 2px,rgba(29, 32, 31, 0.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.2);
}


.button-34 {
  background-color: #0d9c6a;
  border-radius: 100px;
  box-shadow: rgba(255, 255, 255, 0.368) 0 -25px 18px -14px inset,rgba(255, 255, 255, 0.15) 0 1px 10px,rgba(255, 255, 255, 0.15) 0 1px 4px,rgba(255, 255, 255, 0.15) 0 4px 8px,rgba(255, 255, 255, 0.15) 0 8px 16px,rgba(255, 255, 255, 0.15) 0 16px 32px;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-34:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.1);
  background-color: #0d9c6a;
}


.button-34:focus {
  outline: none;
  background-color: #0d9c6a;
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.1);
}


.row {
  display:flex;
  padding: 0;
  margin: 0;
}
.col {
  padding-top: 0;
  flex: 50%;
  padding-left: 125px;
  padding-right: 125px;

  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

body{
  background-color: whitesmoke;
}

.links {
  list-style: none;
  margin-right: 50px;
  display: flex;
  color: #f7f9f6;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.links li {
 display: inline;
 margin-right: 50px;
 color: #eff3ee;
 text-transform: uppercase;
}

.links li:hover {
 cursor: pointer;
 color: #d6b47e;
 background-color: rgba(0,0,0,0.2);
 position: relative;
}



.navBar {
  background-color:#1f3328;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 100%;
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 10px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 100%;
  background-image: url("https://i.imgur.com/oHUAFdV.png"); 
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding-top: 0;
  margin-top: 0;
}

.intro-container {
  background-color: rgba(140, 160, 112, 0.8); 
  margin: 0px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%; 
}

.quiz-container, .feedback-container {
  background-color: rgba(140, 160, 112, 0.8); 
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 60%; 
}

.button-33 {
  display: block; 
  margin: 20px auto;
  padding: 10px 20px;
}


.Container {
  padding: 0;
  margin: 0;
}

.intro-container h2 {
  font-family: 'Press Start 2P';
  font-size: 20px;
  color:#254117;
  text-shadow: -0.5px -0.5px 0#ffffff,  
  0.5px -0.5px 0 #ffffff ,
 -0.5px 0.5px 0 #ffffff,
  0.5px 0.5px 0 #ffffff ; 
}

.quiz-container h3 {
  font-family: 'Press Start 2P';
  font-size: 20px;
  color:#254117;
  text-shadow: -0.5px -0.5px 0#ffffff,  
  0.5px -0.5px 0 #ffffff ,
 -0.5px 0.5px 0 #ffffff,
  0.5px 0.5px 0 #ffffff ; 
}

.quiz-container p {
  padding: 20px;
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color:#000000;
  text-shadow: -0.5px -0.5px 0#ffffff,  
  0.5px -0.5px 0 #ffffff ,
 -0.5px 0.5px 0 #ffffff,
  0.5px 0.5px 0 #ffffff ; 
}