.basic-quiz {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 100px;
}
.basic-wrapper {
    padding-bottom: 20px;
    padding-top: 20px;
}
.detail-quiz {
    text-decoration: dotted;
}
    
.custom-textbox {
    background-color: #FFFFFF;
    border: 5px solid #254117;
    font-size: 16px;
    border-radius: 500px;
    height: 100px;
    padding: 10px;
    margin-bottom: 50px;
}

.custom-label{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
    
}

.custom-header{
    font-size: 55px;
    font-family: 'BellBottom.Laser', sans-serif;
    padding: 20px;
    text-align: center;
    color:#254117
}


.basic-progress-bar .progress-bar {
    background-color:#254117;
    color: white;
    height: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px; 
}

.basic-progress-container {
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 15px;
}


.basic-quiz h1 {
    font-family: 'BellBottom.Laser', sans-serif;
    color:#254117;
    padding: 20px;
    font-size: 55px;
}

.progress-container{
    width: 900px;
    height: 30px;
    margin-top: 10px;
    border-radius: 100px;
    background-color: #BFC8BB;
    margin-bottom: 40px;
    margin: 0 auto;
    border: 2px solid #000000;
}

.progress-bar{
    height: 20%;
    width: 0%;
    border-radius: 10px;
    transition:width 0.5s ease-out;
}

.progress-bar-label {
    margin-top: 10 px;
    font-size: 18px;
    font-weight: bold;
    color: #254117;
    text-align: center;
}

.progress-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    border-radius: 100px;
    background-color: #254117;
    transition: width 0.5s ease-out;
}

.question-text {
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center; 
    color: #000000; 
}

.question-choice {
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    display: inline-block;
    margin-right: 10px;
    color:#000000;

}

.feedback-survey h1 {
    font-family: 'BellBottom.Laser', sans-serif;
    color:#254117;
    padding: 20px;
    font-size: 55px;
    text-align: center;  
}


.detail-quiz h1 {
    font-family: 'BellBottom.Laser', sans-serif;
    text-align: center;
    font-size: 55px;
    color: #254117;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content-box {
    margin: auto;
    margin-top: 25px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px; 
    padding-bottom: 50px;
    max-width: 700px; 
    background-color: #a8a87f;
    align-items: center;
    align-self: center;
    align-content: center;
    border-radius: 10px;
    z-index: 2;
}
.content-box h1, .content-box p {
    color: #333;
}



.custom-radio-button {
    display: block;
    background-color: transparent; 
    background-image: url("https://i.imgur.com/aSurr7W.png");
    background-attachment: fixed;
    background-position: center bottom; 
    background-size: 700px 650px; 
    background-repeat: no-repeat; 
    color: #1c3929;
    padding: 10px 20px;
    margin: 5px 0;
    font-family: "Press Start 2P";
    font-size: 12px;
    border: 2px solid #254117;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    text-shadow: -1px -1px 0#ffffff,  
  1px -1px 0 #ffffff ,
 -1px 1px 0 #ffffff,
  1px 1px 0 #ffffff ; 
}

.custom-radio-button:hover {
    background-color: transparent; 
    color: #a8a87f; 
}

.custom-radio-button input[type="radio"]:checked + span {
    color: #a8a87f; 
}

.custom-radio-button input[type="radio"] {
    display: none;
}


.basic-title {
    color: #254117; 
  text-shadow: -2px -2px 0#ffffff,  
  2px -2px 0 #ffffff ,
 -2px 2px 0 #ffffff,
  2px 2px 0 #ffffff ; 
  padding: 0px;
  font-family: 'BellBottom.Laser', sans-serif;
  font-size: 50px;
  text-align: center;
}

.button-nav {
    margin-top: 15px; 
    margin-right: 10px; 
    margin-left: 10px;
    padding:10px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding:20px;
  }

  .feedback-background {
    background-image: url("feedback_background.png");
    height: 100vh;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .feedback-choice {
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    display: inline-block;
    margin-right: 10px;
    color:#333;
  }